name: CI

on:
  push:

jobs:
  check-lint-test-build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Enable Corepack and install dependencies
        run: |
          corepack enable
          corepack prepare yarn@4.5.1 --activate
          yarn install

      - name: Lint
        run: yarn lint

      - name: Test
        run: yarn test

      - name: Build
        run: yarn build
